TENDER_DASHBOARD_USER=admin
TENDER_DASHBOARD_PASSWORD=change-this-password
TENDER_DASHBOARD_BITRIX_PORTAL_URL=https://bitrix24.mv-proekt.ru/
TENDER_DASHBOARD_BITRIX_WEBHOOK_URL=
TENDER_DASHBOARD_BITRIX_RESPONSIBLE_ID=
TENDER_DASHBOARD_BITRIX_GIP_USER_ID=
TENDER_DASHBOARD_BITRIX_TASK_CREATED_BY_ID=
TENDER_DASHBOARD_BITRIX_TASK_GROUP_ID=
TENDER360_BASE_URL=
TENDER360_USERNAME=
TENDER360_PASSWORD=
TENDER360_API_TOKEN=
